* {
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: #42455a;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
  color: white;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}

.app-pic {
  width: 40%;
  float: right;
}

.app-pic img {
  width: 100%;
  margin-top: -20px;
  padding-left: 50px;
}

a {
  color: #b2b1b1;
}
